pyTelegramBotAPI
openpyxl
fuzzywuzzy
python-Levenshtein
Flask
gunicorn
Pillow
python-docx
requests
python-dotenv
supabase
pg8000
playwright
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
yt-dlp
reportlab
fpdf2